<div class="contact-message text-center p-4">
  <h3>¿Tienes alguna pregunta o quieres endulzar tu día con nosotros?</h3>
  <p>No dudes en contactarnos. Estamos aquí para ayudarte y hacer que tu experiencia sea deliciosa y memorable.</p>
  <p><strong>¡Esperamos saber de ti pronto!</strong></p>
</div>


<div class="container py-5">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="row g-4 needs-validation" novalidate>

    <div class="col-md-6">
      <label for="inputNombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="inputNombre" name="nombre" placeholder="Camila" ngModel required>
      <div class="invalid-feedback" *ngIf="form.submitted && !form.controls['nombre']?.valid">
        Por favor ingresa tu nombre.
      </div>
    </div>

    <div class="col-md-6">
      <label for="inputApellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="inputApellido" name="apellido" placeholder="Martinez" ngModel required>
      <div class="invalid-feedback" *ngIf="form.submitted && !form.controls['apellido']?.valid">
        Por favor ingresa tu apellido.
      </div>
    </div>

    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" name="email" placeholder="camila.martinez@email.com" ngModel required email>
      <div class="invalid-feedback" *ngIf="form.submitted && !form.controls['email']?.valid">
        Por favor ingresa un correo válido.
      </div>
    </div>

    <div class="col-md-6">
      <label for="inputCelular" class="form-label">Número de Celular</label>
      <input type="tel" class="form-control" id="inputCelular" name="celular" placeholder="1234567890" ngModel required>
      <div class="invalid-feedback" *ngIf="form.submitted && !form.controls['celular']?.valid">
        Por favor ingresa tu número de celular.
      </div>
    </div>

    <div class="col-12">
      <label for="inputMensaje" class="form-label">Mensaje</label>
      <textarea class="form-control" id="inputMensaje" name="mensaje" rows="4" placeholder="¡Quiero un pastel para mi cumpleaños 😊😊!" ngModel required></textarea>
      <div class="invalid-feedback" *ngIf="form.submitted && !form.controls['mensaje']?.valid">
        Por favor escribe tu mensaje.
      </div>
    </div>

    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary px-5">Enviar</button>
    </div>

  </form>
</div>
