.pastel {
  display: block;        /* centrada */
  margin-left: auto;
  margin-right: auto;
  width: 100%;           /* ocupa todo el ancho de la columna */
  max-width: 500px;      /* tamaño máximo grande */
  height: auto;          /* mantiene proporción */
  border-radius: 10px;      /* sin bordes redondeados */
  transition: transform 0.3s ease;
}

.pastel:hover {
  transform: scale(1.05); /* efecto hover suave */
}
.container.text-center h1,
.container.text-center p.lead {
  background: rgba(255, 255, 255, 0.1); /* fondo translúcido */
  backdrop-filter: blur(6px);            /* efecto difuminado */
  border-radius: 15px;                   /* bordes redondeados */
  padding: 20px 25px;
  margin-bottom: 1.5rem;
  color: #81580c;                           /* texto blanco para contraste */
  box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* sombra suave */
}
